/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb(FaNum).woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

/*--------------------------------------------------------------
Main
--------------------------------------------------------------*/

body {
  font-family: "IRANSans";
  font-size: 16px;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header-top {
  height: 34px;
  background: linear-gradient(to right, #464866, #25274d);
  color: white;
}

.header-top .name {
  float: right;
  padding-top: 4px;
}

.header-top .vision {
  float: left;
  padding-top: 4px;
}

@media (max-width: 444px) {
  .header-top .vision {
    display: none;
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.color-nav {
  background-color: #f4fbfc;
}

.dropdown-item {
  font-size: 16px;
}

.dropdown-toggle::after {
  vertical-align: 0;
}

/*--------------------------------------------------------------
# LMS
--------------------------------------------------------------*/

#lms {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 1183px) {
  .jumbotron {
    background-image: url("../img/banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.jumbotron .btn {
  font-size: 1.3rem;
}

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

#video {
  background: #fff;
  padding: 20px 0 40px 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

#video .video-header {
  color: white;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #aaabb8,
    #25274d,
    #464866,
    #25274d,
    #aaabb8
  );
}

#video .carousel-container {
  direction: ltr !important; 
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about {
  background: #25274d;
  padding: 20px 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

#about .about-text {
  padding: 20px 0;
  color: white;
}

#about .about-gif {
  -webkit-box-shadow: 10px 6px 28px 6px #000000;
  box-shadow: 10px 6px 28px 6px #000000;
}

/*--------------------------------------------------------------
# Grades
--------------------------------------------------------------*/

#grades {
  background: white;
  padding: 35px 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

#grades .grades-header {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #464866;
  color: #eee;
  font-weight: normal;
}

.leaflet-container {
  height: 310px;
  width: 100%;
}

#mapPopup {
  font-family: "IRANSans";
}

#footer ul {
  padding-inline-start: 0;
  list-style-type: none;
}

#footer .email {
  font-family: "Montserrat", sans-serif;
  color: white;
}

#footer .footer-top {
  background: #25274d;
  padding: 60px 0 0 0;
}

#footer .footer-links h3 {
  margin-bottom: 20px;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 30px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: bold;
}

#footer .footer-top .footer-info p {
  line-height: 24px;
  margin-bottom: 0;
  color: #ecf5ff;
}

#footer .social-links {
  margin-left: 29px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  margin-bottom: 20px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
